<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>688065818609-ve2adobevnra1tlgi8auh1hpqrvch3dg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688065818609-ve2adobevnra1tlgi8auh1hpqrvch3dg</string>
	<key>API_KEY</key>
	<string>AIzaSyAo2ZuCJMg1Cpb83WK_hP1RPFNcOajrE3c</string>
	<key>GCM_SENDER_ID</key>
	<string>688065818609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reduxDemo</string>
	<key>PROJECT_ID</key>
	<string>reduxdemo-3d338</string>
	<key>STORAGE_BUCKET</key>
	<string>reduxdemo-3d338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688065818609:ios:549a787edb81b4d9</string>
	<key>DATABASE_URL</key>
	<string>https://reduxdemo-3d338.firebaseio.com</string>
</dict>
</plist>